$primary-color: #ce4b3e
$secondary-color: #252833

$body-bg: darken($secondary-color, 10%) !default
$body-font-color: #fff !default

//$base-font-size: 16px

//$em-base: $base-font-size

$topbar-bg: $secondary-color
$topbar-link-color-hover: #fff
$topbar-breakpoint: 768px

$form-label-font-color: darken($body-font-color, 30%)

// $fieldset-bg: $secondary-color
// $fieldset-border-color: lighten($secondary-color, 10%)
$fieldset-bg: transparent
$fieldset-border-color: transparent

$legend-bg: transparent

$input-border-color: lighten($secondary-color, 30%)
$input-focus-border-color: lighten($secondary-color, 30%)

$form-label-font-color: lighten($secondary-color, 60%)
$form-label-bottom-margin: .5em

$shiny-edge-color: rgba(#fff, .3)

$thumbnail-size: 480px

@import "compass"

@import "settings"

@import "normalize"

@import "foundation/components/global"
@import "foundation/components/grid"
// @import "foundation/components/visibility"
@import "foundation/components/block-grid"
@import "foundation/components/type"
@import "foundation/components/buttons"
@import "foundation/components/forms"
@import "foundation/components/custom-forms"
// @import "foundation/components/button-groups" // *requires components/buttons
// @import "foundation/components/dropdown-buttons" // *requires components/buttons
// @import "foundation/components/split-buttons" // *requires components/buttons
// @import "foundation/components/flex-video"
// @import "foundation/components/section"
@import "foundation/components/top-bar"
// @import "foundation/components/orbit"
// @import "foundation/components/reveal"
// @import "foundation/components/joyride"
// @import "foundation/components/clearing"
// @import "foundation/components/alert-boxes"
// @import "foundation/components/breadcrumbs"
// @import "foundation/components/keystrokes"
@import "foundation/components/labels"
// @import "foundation/components/inline-lists"
// @import "foundation/components/pagination"
// @import "foundation/components/panels"
// @import "foundation/components/pricing-tables"
// @import "foundation/components/progress-bars"
// @import "foundation/components/side-nav"
// @import "foundation/components/sub-nav"
// @import "foundation/components/switch"
// @import "foundation/components/magellan"
// @import "foundation/components/tables"
// @import "foundation/components/thumbs"
// @import "foundation/components/tooltips"
// @import "foundation/components/dropdown"

@import "font-awesome/font-awesome"

html
	background-color: $body-bg
	height: 100%

body
	min-height: 100%
	padding-bottom: 100px

.top-bar
	z-index: 999

.top-bar-section ul li:first-child.divider
	display: none

@media #{$small}
	.top-bar-section ul li:first-child.divider
		display: inherit

@media #{$medium}
	.top-bar-section ul li > a
		color: lighten($topbar-bg, 50%)

.top-bar ul li:hover > a
	color: $topbar-link-color-hover

h1, h2, h3, h4, h5, h6
	color: $body-font-color

form
	margin: 0 auto
	max-width: 600px

fieldset
	padding-left: 0
	padding-right: 0

input
	border-width: 0 1px 1px 0

code
	color: $body-font-color
	font-weight: normal

li
	list-style-position: inside

.row
	min-width: 100% !important

@media #{$medium}
	.row
		min-width: 80% !important

.valign
	display: inline-block
	height: 100%
	vertical-align: middle

.carousel
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	bottom: 0
	cursor: grab
	cursor: -moz-grab
	cursor: -webkit-grab
	overflow: hidden
	padding-bottom: -40px
	position: absolute
	top: 45px
	width: 100%

	&:active
		cursor: grabbing
		cursor: -moz-grabbing
		cursor: -webkit-grabbing

	.wrap
		height: 100%
		left: -100%
		position: absolute
		width: 300%

	.previous, .current, .next
		position: absolute

	.previous, .next
		height: 90%
		top: 5%
		width: ( 86% / 3 )

	.previous
		left: ( 18% / 3 )
		text-align: right

	.next
		left: ( 196% / 3 )

	.current
		height: 100%
		left: ( 107% / 3 )
		text-align: center
		top: 0
		width: ( 86% / 3 )

		a
			cursor: zoom-in

	a
		bottom: 0
		left: 0
		max-height: 100%
		position: absolute
		right: 0
		top: 0
		white-space: nowrap

		img
			background:
				color: lighten($body-bg, 5%)
				image: image-url('checkers.png')
				repeat: repeat
			max-height: 100%
			+box-shadow(0 0 5px #000)

	&.animating
		img
			+box-shadow(none)

.thumbnail-grid
	@include block-grid(5, 10px, true)

	li

		.container
			background:
				color: lighten($body-bg, 5%)
				image: image-url('checkers.png')
				repeat: repeat
			+box-shadow(0 0 5px #000)
			height: 0
			padding-bottom: 100%
			position: relative

			&.error
				background: darken($alert-color, 25%)

				.processing
					background-image: none

			.processing
				background:
					image: image-url('time.png')
					repeat: no-repeat
					position: center center
				height: 100%
				position: absolute
				width: 100%

			.progressbar-wrap
				position: absolute
				width: 100%

				.progressbar
					background: $primary-color
					@include background(linear-gradient(top left, lighten($primary-color, 10%), $primary-color))
					height: 3px
					margin-bottom: -3px
					width: 0

			.title-wrap
				position: absolute
				width: 100%

				&:before
					background: #fff
					bottom: 0
					content: ''
					display: block
					left: 0
					+opacity(.5)
					position: absolute
					right: 0
					top: 0

				.title
					+box-shadow(0 0 5px rgba(0, 0, 0, .5))
					color: #000
					font-size: 14px
					height: 35px
					line-height: 35px
					overflow: hidden
					+opacity(.999)
					padding: 0 10px
					white-space: nowrap

	img, canvas
		position: absolute

	canvas
		height: auto
		max-width: 100%

	.placeholder-thumbnail
		background: $secondary-color
		color: lighten($secondary-color, 10%)
		display: inline-block
		height: 100%
		overflow: hidden
		position: absolute
		text-align: center
		width: 100%

		.fa
			vertical-align: middle

@media #{$screen}
	.thumbnail-grid
		@include block-grid(2, 15px, true)

@media #{$small}
	.thumbnail-grid
		@include block-grid(3, 15px, true)

@media #{$large}
	.thumbnail-grid
		@include block-grid(5, 15px, true)

.full-screen
	background: $body-bg
	cursor: zoom-out
	display: none
	text-align: center
	width: 100%
	height: 100%

	img
		+box-shadow(0 0 5px #000)
		max-height: 100%
		max-width: 100%

	&:fullscreen
		display: inherit

	&:-moz-full-screen
		display: inherit

	&:-webkit-full-screen
		display: inherit

	&:-ms-full-screen
		display: inherit

	&:-o-full-screen
		display: inherit

.button.upload

	input[type=file]
		cursor: pointer
		height: 100%
		left: 0
		+opacity(0)
		position: absolute
		top: 0
		width: 100%
